%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"

.login
  .login__info-container
    %p アカウントをお持ちでない方はこちら
    .login__btn_container
    .user__btn_new
      = link_to "新規会員登録"," /users/1/signups", class: "new-register"
    %br
    %br
    .user__btn_fb
      = image_tag 'facebook_icon.png',size: "35x35" , class: "facebook-icon"
      = link_to "Facebookで登録","＃", class: "new-register"
    .user__btn_google
      = image_tag 'google_icon.png',size: "37x37" , class: "google-icon "
      = link_to "Googleで登録","＃", class: "google-register"
    %br
    %br
    = text_field_tag :content, 'メールアドレス',class: 'text_field'
    = text_field_tag :content, 'パスワード',class: 'text_field'

  = image_tag 'rbot-img.png',size: "325x90" , class: "rbot-img_2"

  .login-btn
    = link_to "ログイン","/users/1/signups/new", class:'login_btn'
  %br
  %br
  %p.blue パスワードをお忘れの方

= render partial:'items/item_footer'



-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "users/shared/links"
