%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"

.login
  .login__info-container
    %p アカウントをお持ちでない方はこちら
    .login__btn_container
      = link_to new_user_registration_path, class: "new-register" do
        .user__btn_new
          新規会員登録
    %br
    %br
    .user__btn_fb
      = image_tag 'facebook_icon.png',size: "35x35" , class: "facebook-icon"
      = link_to "Facebookでログイン",user_facebook_omniauth_authorize_path, class: "new-register", method: :post
    .user__btn_google
      = image_tag 'google_icon.png',size: "37x37" , class: "google-icon "
      = link_to "Googleでログイン",user_google_oauth2_omniauth_authorize_path, class: "google-register", method: :post
    %br
    %br
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'text_field'
      = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'text_field'
      = image_tag 'rbot-img.png',size: "325x90" , class: "rbot-img_2"
      = f.submit 'ログイン', class: 'redbtn'


  %br
  %br
  %p.blue パスワードをお忘れの方

= render partial:'items/item_footer'
