.delivery
  = form_for(current_user.profile, url: signup_address_create_path) do |f|
    .delivery__title
      %h2 発送元・お届け先住所入力
      .signup-errors
        = @errors
      .delivery__info-container
        %ul
          %li
            %h3 お名前
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :family_name,{class: 'text_field', placeholder: "例) 山田"}
          = f.text_field :last_name,{class: 'text_field', placeholder: "例) 彩"}
          %li
            %h3 お名前カナ
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :kana_family_name,{class: 'text_field', placeholder: "例) ヤマダ"}
          = f.text_field :kana_last_name,{class: 'text_field', placeholder: "例) アヤ"}
          %li
            %h3 郵便番号
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :postalcode,{class: 'text_field', placeholder: "例) 123-4567"}
          %li
            %h3 都道府県
          %li
            .required__icon 必須
          .clearfix
            .input-append
              .select-tag
                = f.collection_select( :address_prefecture, Prefecture.all, :id, :name)
            = fa_icon 'chevron-down', class: 'fa-icon_4'
          %li
            %h3 市町村
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :address_city,{class: 'text_field', placeholder: '例) 横浜市緑区'}
          %li
            %h3 番地
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :address_street_number,{class: 'text_field', placeholder: '例) 青山1-1-1'}
          %li
            %h3 建物名
          %li
            .required__icon 任意
          .clearfix
          = f.text_field :address_building_name,{class: 'text_field', placeholder: '例) 柳ビル103'}
          %li
            %h3 電話
          %li
            .required__icon 任意
          .clearfix
          = f.text_field :phone_number,{class: 'text_field', placeholder: '例) 09012345678'}
          %input{type: 'hidden', name: 'move_from', value: move_from}
          - case local_assigns[:move_from]
            - when 'signup'
              = f.submit '次へ進む', id: 'token_submit', class:'next_btn'
            - when 'purchase'
              %input{type: 'hidden', name: 'item_id', value: item_id}
              = f.submit '変更する', id: 'token_submit', class:'next_btn'
          .clearfix