%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.delivery
  = form_for(@profile, url: signup_address_create_path) do |f|
    .delivery__title
      %h2 発送元・お届け先住所入力
      .delivery__info-container
        %ul
          %li
            %h3 お名前
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :family_name,{class: 'text_field', placeholder: "例) 山田"}
          = f.text_field :last_name,{class: 'text_field', placeholder: "例) 彩"}
          %li
            %h3 お名前カナ
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :kana_family_name,{class: 'text_field', placeholder: "例) ヤマダ"}
          = f.text_field :kana_last_name,{class: 'text_field', placeholder: "例) アヤ"}   
          %li
            %h3 郵便番号
          %li
            .required__icon 必須
          .clearfix
          = f.text_field :postalcode,{class: 'text_field', placeholder: "'例) 123-4567"}             
          %li
            %h3 都道府県
          %li
            .required__icon 必須
          .clearfix
            -# = form_tag new_user_user_profile_path, method: :get, class: 'select-tag' do
            .input-append
              = f.collection_select( :address_prefecture, Prefecture.all, :id, :name)
              -# = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name
            = fa_icon 'chevron-down', class: 'fa-icon_4'
          %li
            %h3 市町村
          %li
            .required__icon 必須
          .clearfix
          -# = text_field_tag :content, '例) 横浜市緑区',class: 'text_field'
          = f.text_field :address_city,{class: 'text_field', placeholder: '例) 横浜市緑区'}             
          %li
            %h3 番地
          %li
            .required__icon 必須
          .clearfix
          -# = text_field_tag :content, '例) 青山1-1-1',class: 'text_field'
          = f.text_field :address_street_number,{class: 'text_field', placeholder: '例) 青山1-1-1'}
          %li
            %h3 建物名
          %li
            .required__icon 任意
          .clearfix
          -# = text_field_tag :content, '例) 柳ビル103',class: 'text_field'
          = f.text_field :address_building_name,{class: 'text_field', placeholder: '例) 柳ビル103'}
          %li
            %h3 電話
          %li
            .required__icon 任意
          .clearfix
          -# = text_field_tag :content, '例) 09012345678',class: 'text_field'
          = f.text_field :phone_number,{class: 'text_field', placeholder: '例) 09012345678'}
          .next-btn
            = f.submit
            = link_to "次へ進む","/users/1/cards/new", class:'next_btn'
            -#### 仮置き。サーバサイド実装後、/users/:user_id/cards/newに修正
          .clearfix

  = render partial:'items/item_footer'