%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.sigup
  .sigup__title
    %h2 会員情報入力
    .sigup__info-container
      %ul
        %li
          %h3 ニックネーム
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) メルカリ太郎',class: 'text_field'
        %li
          %h3 メールアドレス
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, 'PC・携帯どちらでも可',class: 'text_field'
        %li
          %h3 パスワード
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '6文字以上',class: 'text_field'
        %li
          %h3 パスワード（確認）
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '6文字以上',class: 'text_field'
        %li
          %h3 本人確認
        .clearfix
        %li
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .clearfix
        %li
          %h3 姓（全角）
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) 山田',class: 'text_field'
        %li
          %h3 名（全角）
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) 彩',class: 'text_field'
        %li
          %h3 姓カナ（全角)
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) ヤマダ',class: 'text_field'
        %li
          %h3 名カナ（全角）
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) アヤ',class: 'text_field'
        %li
          %h3 生年月日
        %li
          .required__icon 必須
        .clearfix
        = date_select :page, :updated_at,class: 'select', use_month_numbers: true, discard_month: true, discard_day: true, start_year: 1900
        = fa_icon 'chevron-down', class:'fa_icon_1'
        %sub.left 年
        = date_select :page, :updated_at,class: 'select', use_month_numbers: true, discard_year: true, discard_day: true
        = fa_icon 'chevron-down', class:'fa_icon_2'
        %sub.left 月
        = select_tag 'category', options_for_select({'01':'01','02':'02','03':'03','04':'04','05':'05','06':'06','07':'07','08':'08','09':'09','10':'10','11':'11','12':'12','13':'13','14':'14','15':'15','16':'16','17':'17','18':'18','19':'19','20':'20','21':'21','22':'22','23':'23','24':'24','25':'25','26':'26','27':'27','28':'28','29':'29','30':'30','31':'31'}),class: 'select_tag_left'
        = fa_icon 'chevron-down', class:'fa_icon_3'
        %sub.left 日
        .clearfix
        .dscription
          %p.gray ※本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。
        = image_tag 'rbot-img.png',size: "325x90" , class: "rbot-img"
        .dscription
          %p「次へ進む」のボタンを押すことにより、
          %p.blue 利用規約
          %p に同意したものとみなします。
        .next-btn
          = link_to "次へ進む","/users/1/signups/new", class:'next_btn'
          -#### 仮置き。サーバサイド実装後、/users/:user_id/signups/newに修正
        .link-box
          %li
            %p 本人情報の登録について
          %li
            = fa_icon 'chevron-right', class:'arrow_blue'
        .clearfix

= render partial:'items/item_footer'