%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.sigup_sms-2
  .sigup__title
    %h2 電話番号認証
    .sigup__info-container
      %ul
        %li
          %h3 認証番号
        .clearfix
        = text_field_tag :content, '認証番号を入力',class: 'text_field'
        .clearfix
        %li
          %p SMSで届いた認証番号を入力してください。
        .clearfix
        .sms-btn_2
          = link_to "認証して完了","#### 仮置き。サーバサイド実装後、/users/:user_id/user_profiles/newに修正", class:'sms-btn'
        .clearfix
    .sigup__info-box
    .sigup__info-box
      %h3 30秒たっても認証番号が届かない方へ
      %p 電話で認証番号を聞くこともできます。
      .clearfix
      .sms-btn_3
        = link_to "電話で認証番号を聞く（通話無料）", class:'sms-btn'
      .clearfix
    .sigup__info-box_2
      %h3 認証番号を再送することもできます。もう一度電話番号を入力してください。
      %p.blue  電話番号を再度入力する
      %br
      .dscription
        ※SMSが届かない場合は
        %span.blue SMS受信設定
        を確認して、もう一度電話番号を入力してください。

= render partial:'items/item_footer'