%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
  = image_tag 'signup_header2.png',size: "700x120" , class: "header__bar-img"
.sigup_sms
  = form_for(@profile, url: signup_sms_confirmation_certify_path) do |f|
    .sigup__title
      %h2 電話番号の確認
      .signup-errors
        = @errors
      .sigup__info-container
        %ul
          %li
            %h3 携帯電話の番号
          .clearfix
          = f.text_field :phone_number,{ class: 'text_field', placeholder: "携帯電話の番号を入力"}
          .clearfix
          %li
            %p 本人確認のため、携帯電話番号のSMS (ショートメッセージサービス)を
            %p 利用して認証を行います。
          .clearfix
          .sms-btn
            = f.submit('次へ進む' ,class:'next_btn')
          .clearfix
            %br
            %p 電話番号は本人確認や不正利用防止のために利用します。
            %p 他のユーザーに公開されることはありません。
          .link-box
            %li
              %p 電話番号の確認が必要な理由
            %li
              = fa_icon 'chevron-right', class:'arrow_blue'
          .clearfix

= render partial:'items/item_footer'