.user_mypage__container__side
  .user_mypage__container__side__menu
    %ul.user_mypage__container__side__menu__list
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text-active' do
          マイページ
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          お知らせ
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          やることリスト
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          いいね！一覧
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          出品する
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          出品した商品 - 出品中
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          出品した商品 - 取引中
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          購入した商品 - 取引中
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          ニュース一覧
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          評価一覧
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          ガイド
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          お問い合わせ
          %i.fas.fa-chevron-right

    %h3.user_mypage__container__side__menu__title メルペイ
    %ul.user_mypage__container__side__menu__list
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          売り上げ・振込申請
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          ポイント
          %i.fas.fa-chevron-right

    %h3.user_mypage__container__side__menu__title 設定
    %ul.user_mypage__container__side__menu__list
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          プロフィール
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          支払い方法
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          メール/パスワード
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          本人情報
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        = link_to "#", class: 'user_mypage__container__side__menu__list__item__text' do
          電話番号の確認
          %i.fas.fa-chevron-right
      %li.user_mypage__container__side__menu__list__item
        -# サーバーサイド実装できたらurlにuser_idを付与
        = link_to "/users/:user_id/logouts/new", class: 'user_mypage__container__side__menu__list__item__text' do
          ログアウト
          %i.fas.fa-chevron-right
