%header
  = link_to(root_path) do
    = image_tag "mercari_logo_horizontal.png", width:  "234", height: "76", class: "header__logo-img"

  -# = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"
.user
  .user__title
    %h2 新規会員登録
    .user__btn_container
      .user__btn_mail
        = fa_icon 'envelope', class:'mail-icon'
        = link_to "メールアドレスで登録", new_user_registration_path
      .user__btn_fb
        = image_tag 'facebook_icon.png',size: "35x35" , class: "facebook-icon "
        = link_to "Facebookで登録",user_facebook_omniauth_authorize_path, method: :post
      .user__btn_google
        = image_tag 'google_icon.png',size: "37x37" , class: "google-icon "
        = link_to "Googleで登録",user_google_oauth2_omniauth_authorize_path, method: :post

= render partial:'items/item_footer'
