.item_wrapper
  %header
    = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img"
  .item
    .item__title
      購入内容の確認
    .item__info
      .item__info__inner-content
        .item__info__inner-content__image
          = image_tag @item.item_images.first.image_url.to_s, height: '148', width: '148'
        .item__info__inner-content__name
          %p
            = @item.name
        .item__info__inner-content__subtotal
          .item__info__inner-content__subtotal__price
            %p
              = "¥ #{@item.price.to_s(:delimited)}"
          .item__info__inner-content__subtotal__delivery-fee
            %p
              = @item.delivery_fee_payer
        .item__info__inner-content__point
          ポイントはありません
        .item__info__inner-content__account
          .item__info__inner-content__account__text
            支払い金額
          .item__info__inner-content__account__price
            %p
              = "¥ #{(@item.price - 0).to_s(:delimited)}"
        = form_tag(pay_item_purchases_path(@item), method: :post) do
          = submit_tag "購入する", class: 'item__info__inner-content__purchase-btn'
    .item__address
      .item__address__inner-content
        .item__address__inner-content__heading
          配送先
        .item__address__inner-content__info
          .item__address__inner-content__info__text
            = "〒" + current_user.profile.postalcode
            %br
            = Prefecture.where(id: current_user.profile.address_prefecture)[0].attributes[:name]
            = current_user.profile.address_city
            = current_user.profile.address_street_number
            = current_user.profile.address_building_name
            %br
            = current_user.profile.family_name
            = current_user.profile.last_name
          .item__address__inner-content__info__fix
            変更する
            %i >
    .item__payment
      .item__payment__inner-content
        .item__payment__inner-content__heading
          支払い方法
        .item__payment__inner-content__info
          .item__payment__inner-content__info__text
            = "************" + @default_card_information.last4
            %br
            = get_card_exp(@default_card_information)
          .item__payment__inner-content__info__figure
            = get_cards_brand_logo(@default_card_information.brand)
          .item__payment__inner-content__info__fix
            変更する
            %i >
  = render 'items/item_footer'