%header
  = image_tag 'mercari_logo_horizontal.png',size: "234x76" , class: "header__logo-img_signup"
.delivery
  .delivery__title
    %h2 発送元・お届け先住所入力
    .delivery__info-container
      %ul
        %li
          %h3 お名前
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '',class: 'text_field'
        = text_field_tag :content, '',class: 'text_field'
        %li
          %h3 お名前カナ
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '',class: 'text_field'
        = text_field_tag :content, '',class: 'text_field'
        %li
          %h3 郵便番号
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) 123-4567',class: 'text_field'
        %li
          %h3 都道府県
        %li
          .required__icon 必須
        .clearfix
          = select_tag 'category', options_for_select({'---':'---','北海道':'北海道','青森県':'青森県','岩手県':'岩手県','宮城県':'宮城県','秋田県':'秋田県','山形県':'山形県','福島県':'福島県','東京都':'東京都','神奈川県':'神奈川県','埼玉県':'埼玉県','千葉県':'千葉県','茨城県':'茨城県','栃木県':'栃木県','群馬県':'群馬県','山梨県':'山梨県','新潟県':'新潟県','長野県':'長野県','富山県':'富山県','石川県':'石川県','福井県':'福井県','愛知県':'愛知県','岐阜県':'岐阜県','静岡県':'静岡県','三重県':'三重県','大阪府':'大阪府','兵庫県':'兵庫県','京都府':'京都府','滋賀県':'滋賀県','奈良県':'奈良県','和歌山県':'和歌山県','鳥取県':'鳥取県','島根県':'島根県','岡山県':'岡山県','広島県':'広島県','山口県':'山口県','徳島県':'徳島県','香川県':'香川県','愛媛県':'愛媛県','高知県':'高知県','福岡県':'福岡県','佐賀県':'佐賀県','長崎県':'長崎県','熊本県':'熊本県','大分県':'大分県','宮崎県':'宮崎県','鹿児島県':'鹿児島県','沖縄県':'沖縄県'}),class: 'select-tag'
          = fa_icon 'chevron-down', class: 'fa-icon_4'
        %li
          %h3 市町村
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) 横浜市緑区',class: 'text_field'
        %li
          %h3 番地
        %li
          .required__icon 必須
        .clearfix
        = text_field_tag :content, '例) 青山1-1-1',class: 'text_field'
        %li
          %h3 建物名
        %li
          .required__icon 任意
        .clearfix
        = text_field_tag :content, '例) 柳ビル103',class: 'text_field'
        %li
          %h3 電話
        %li
          .required__icon 任意
        .clearfix
        = text_field_tag :content, '例) 09012345678',class: 'text_field'
        .next-btn
          = link_to "次へ進む","#### 仮置き。サーバサイド実装後、/users/:user_id/cards/newに修正", class:'next_btn'
        .clearfix

= render partial:'items/item_footer'