- breadcrumb :searched_items, @keyword
.search-items-container
  .search-items-container__left-container
    = form_tag '#' do
      .search-items-container__left-container__order
        = select_tag :order, options_for_select(get_search_order), class: 'select_tag', type: 'text'
        = fa_icon 'chevron-down', class:'fa_icon_2'
    = form_tag '#' do
      .search-items-container__left-container__main
        .search-items-container__left-container__main__heading
          詳細検索
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-plus
            キーワードを追加する
          .search-items-container__left-container__main__requirement__input
            = text_field_tag :keyword, '', class: 'text_field'
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-bars
            カテゴリーを選択する
          .search-items-container__left-container__main__requirement__input
            = select_tag :order, options_for_select(get_search_categories), class: 'select_tag', type: 'text'
            = fa_icon 'chevron-down', class:'fa_icon_2'
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-tags
            ブランド名から探す
          .search-items-container__left-container__main__requirement__input
            = text_field_tag :brand, '', class: 'text_field'

        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-crop-alt
            サイズを指定する
          .search-items-container__left-container__main__requirement__input
            = select_tag :size, options_for_select(get_search_size), class: 'select_tag', type: 'text'
            = fa_icon 'chevron-down', class:'fa_icon_2'
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-coins
            価格
          .search-items-container__left-container__main__requirement__input
            = select_tag :price, options_for_select(get_search_price), class: 'select_tag', type: 'text'
            = fa_icon 'chevron-down', class:'fa_icon_2'
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-star
            商品の状態
          .search-items-container__left-container__main__requirement__input
            .search-items-container__left-container__main__requirement__input__checkboxes
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test1, 1, checked = false, class: 'search-checkbox'
                = label_tag :test1, "すべて"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test2, 1, checked = false, class: 'search-checkbox'
                = label_tag :test2, "新品、未使用"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test3, 1, checked = false, class: 'search-checkbox'
                = label_tag :test3, "未使用に近い"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test4, 1, checked = false, class: 'search-checkbox'
                = label_tag :test4, "目立った傷や汚れなし"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test5, 1, checked = false, class: 'search-checkbox'
                = label_tag :test5, "やや傷や汚れあり"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test6, 1, checked = false, class: 'search-checkbox'
                = label_tag :test6, "傷や汚れあり"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :test7, 1, checked = false, class: 'search-checkbox'
                = label_tag :test7, "全体的に状態が悪い"

        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-truck
            配送料の負担
          .search-items-container__left-container__main__requirement__input
            .search-items-container__left-container__main__requirement__input__checkboxes
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :delivery1, 1, checked = false, class: 'search-checkbox'
                = label_tag :delivery1, "すべて"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :delivery2, 1, checked = false, class: 'search-checkbox'
                = label_tag :delivery2, "着払い(購入者負担)"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :delivery3, 1, checked = false, class: 'search-checkbox'
                = label_tag :delivery3, "送料込み(出品者負担)"
        .search-items-container__left-container__main__requirement
          .search-items-container__left-container__main__requirement__title
            %i.fas.fa-shopping-cart
            販売状況
          .search-items-container__left-container__main__requirement__input
            .search-items-container__left-container__main__requirement__input__checkboxes
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :sale1, 1, checked = false, class: 'search-checkbox'
                = label_tag :sale1, "すべて"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :sale2, 1, checked = false, class: 'search-checkbox'
                = label_tag :sale2, "着払い(購入者負担)"
              .search-items-container__left-container__main__requirement__input__checkboxes__checkbox
                = check_box_tag :sale3, 1, checked = false, class: 'search-checkbox'
                = label_tag :sale3, "送料込み(出品者負担)"

        .search-items-container__left-container__main__btn
          .search-items-container__left-container__main__btn__graybtn
            クリア
          .search-items-container__left-container__main__btn__redbtn
            完了

  .search-items-container__right-container
    .search-items-container__right-container__heading
      %span.search-items-container__right-container__heading--keyword
        = @keyword
      の検索結果
      .search-items-container__right-container__heading__result
        - if @searched_items.present?
          .search-items-container__right-container__heading__result--count
            = "1 - #{@searched_items.length}件表示"
        - else
          .search-items-container__right-container__heading__result--nothing
            該当する商品が見つかりません。検索条件を変えて、再度お試しください。
    .search-items-container__right-container__main
      .item-box.clearfix
        - @searched_items.each do |item|
          .item
            = link_to item_path(item.id), data: {turbolinks: false} do
              = image_tag "#{first_item_image(item)}", class:"banner-mercari-info-hand-phone"
            .item__lower
              .item__lower__name
                = item.name
              .item__lower__price
                = "¥ #{item.price.to_s(:delimited)}"
              .item__lower__tax (税込)
            - if item.deal.status.id == 2 || item.deal.status.id == 3
              .image_soldout_red-triangle-search-item
                .image_soldout_red-letter-search-item
                  %p SOLD
    = paginate @searched_items