- breadcrumb :item, @item
= render partial:'shared/global-header'
.item_wrapper
  %br
  %br
  .item
    .item__title-detail
      = @item.name
    .item__info#item-info
      .item__info__inner-content#content-detail
        .item__info__inner-content__image#content-img
          %ul#slider
            - @item.item_images.each do |image|
              %li
                = image_tag image.image_url.to_s, class:'item_img'
          %ul#thumb
            - @item.item_images.each do |image|
              %li
                = image_tag image.image_url.to_s, class:'item_s-img'
        .item__info__inner-content__table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                %p#blue
                = @item.deal.seller.nickname
                %p
                %i.fas.fa-grin
                500
                %i.fas.fa-meh
                10
                %i.fas.fa-frown
                5
            %tr
              %th カテゴリー
              %td#blue
                %p
                = @item.category.parent.parent.name
                %p
                = fa_icon 'chevron-right'
                = @item.category.parent.name
                %p
                = fa_icon 'chevron-right'
                = @item.category.name
            %tr
              %th ブランド
              %td#blue
                = @item.brand.name
            %tr
              - if @item.size.name != "none"
                %th 商品のサイズ
                %td
                  = @item.size.name
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                = @item.delivery_fee_payer
            %tr
              %th 配送方法
              %td
                = @item.delivery_type
            %tr
              %th 配送元地域
              %td#blue
                = @item.delibery_from_area
            %tr
              %th 発送の目安
              %td
                = @item.delivery_days
        .item__info__inner-content__account#box-price
          .item__info__inner-content__account__price-detail
            .item-price
              ="¥#{@item.price.to_s(:delimited)}"
            %sub.tax
              (税込)
            - if @item.delivery_fee_payer == "送料込み（出品者負担）"
              .deliverly-btn
                送料込み
            - else
              %sub.payment
                着払い
        .item__info__inner-content__purchase-btn#btn-detail
          = link_to "購入画面に進む", new_item_purchase_path(@item), class:'btn-detail'
        .item__info__inner-content__text
          = @item.text
        .btn-box
          .item__info__inner-content__like-btn
            %i.far.fa-heart
            %span いいね! 1000
          .item__info__inner-content__alert-btn
            %i.far.fa-flag
            %span 不適切な商品の報告
        .item__info__inner-content__safety-btn
          %i.fas.fa-shopping-bag
          %span あんしん・あんぜんへの取り組み
        -# -----------------仮で置いてます---------------
        %br
  .item
    .item__edit-btn
      %button#btn-stop
    .item__edit-btn
      %button
        = link_to "商品の編集", new_item_path, id:'btn-comment'
        -#### リンク仮置きです
    %sub#or or
    .item__comment-btn
      %button
        = link_to "出品を一旦停止する", new_item_path, id:'btn-stop'
        -#### リンク仮置きです
    -# #item__mask
    .item__comment-btn
      %button
        = link_to "この商品を削除する", "", method: :delete, id:'btn-delete'
        -#### リンク仮置きです
      -# -----------------仮で置いてます---------------
      -# -----------------モーダル---------------
    #item__mask
      #modal
        .alert-text
          %p#bold 確認
          %p 削除すると二度と復活できません。
          %p 削除する代わりに停止することもできます。
          %br
          %p 本当に削除しますか？
        .alert-btn
          .alert-btn-right
            %button#btn-border
            = link_to "キャンセル",new_item_path, id:'btn-cancel-modal'
          .alert-btn-left
            %button
            = link_to "削除する","/items/#{@item.id}", id:'btn-delete-modal'
      #close


= render partial:'items/comment_form'

-# imgの飾りアイコンです
= render partial:'items/sns_icon'

= render partial:'shared/global-only-footer'

:javascript
  $(function(){
  var modalOpen = "#btn-stop";
  var modalMask = "#item__mask";
  var modalWindow = "#modal";
  var modalClose = "#btn-delete-modal";

  $(modalOpen).on('click', function(){
  $('body').append(modalMask);
  $(modalMask).fadeIn();
  $(modalWindow).fadeIn();
  ('body').css('overflow', 'hidden');
  });
  modalClose.on('click', function(){
  modalMask.fadeOut();
  modalWindow.fadeOut();
  $('body').css('overflow', 'auto');
  });
  });

