= render partial:'shared/global-header'
.item_wrapper
  %br
  %br
  .item
    .item__title-detail
      = @item.name
    .item__info#item-info
      .item__info__inner-content#content-detail
        .item__info__inner-content__image#content-img
          %ul#slider
            - @images.each do |image|
              - if image.present?
                %li
                  = image_tag image.image_url.to_s, class:'item_img'
          %ul#thumb
            %li
              - @images.each do |image|
                - if image.present?
                  = image_tag image.image_url.to_s, class:'item_s-img'
        .item__info__inner-content__table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                %p#blue
                = @item.deal.seller.nickname
                %p
                %i.fas.fa-grin
                500
                %i.fas.fa-meh
                10
                %i.fas.fa-frown
                5
            %tr
              %th カテゴリー
              %td#blue
                %p
                = @item.category.parent.parent.name
                %p
                = fa_icon 'chevron-right'
                = @item.category.parent.name
                %p
                = fa_icon 'chevron-right'
                = @item.category.name
            %tr
              %th ブランド
              %td#blue
                = @item.brand.name
            %tr
              - if @item.size.name == "none"
                = ""
              - else
                %th 商品のサイズ
                %td
                  = @item.size.name
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                = @item.delivery_fee_payer
            %tr
              %th 配送方法
              %td
                = @item.delivery_type
            %tr
              %th 配送元地域
              %td#blue
                = @item.delibery_from_area
            %tr
              %th 発送の目安
              %td
                = @item.delivery_days
        .item__info__inner-content__account
          .item__info__inner-content__account__price-detail
            .item-price
              ="¥#{@item.price.to_s(:delimited)}"
            %sub.tax
              (税込)
            .deliverly-btn
              送料込み
            .clearfix
        .item__info__inner-content__purchase-btn#btn-detail
          = link_to "購入画面に進む", new_item_purchase_path(1), class:'btn-detail'
          -###/items/:item_id/purchases/new
        .item__info__inner-content__text
          = @item.text
        .btn-box
          .item__info__inner-content__like-btn
            %i.far.fa-heart
            %span いいね! 1000
          .item__info__inner-content__alert-btn
            %i.far.fa-flag
            %span 不適切な商品の報告
        .item__info__inner-content__safety-btn
          %i.fas.fa-shopping-bag
          %span あんしん・あんぜんへの取り組み
= render partial:'items/comment_form'

-# imgの飾りアイコンです
= render partial:'items/sns_icon'

= render partial:'shared/global-only-footer'