.credit__box_list
  %span カード番号
  .required__icon 必須
  .clearfix
  = text_field_tag :content, '半角数字のみ',class: 'text_field'
  = image_tag 'credit_card_icon.png',size: "290x38" , class: "credit__logo-img"
  .credit__box_expiration_date
    %span 有効期限
    .required__icon 必須
  .clearfix
  = date_select :page, :updated_at,class: 'date_select', use_month_numbers: true, discard_year: true, discard_day: true
  = fa_icon 'chevron-down', class:'fa_icon_1'
  %sub.month 月
  .clearfix
  = select_tag 'category', options_for_select({'19':'19','20':'20','21':'21','22':'22','23':'23','24':'24','25':'25','26':'26','27':'27','28':'28','29':'29'}),class: 'select-tag'
  = fa_icon 'chevron-down', class:'fa_icon_2'
  %sub 年
  .credit__box_security_code
    %br
    %span セキュリティコード
    .required__icon 必須
    .clearfix
    = text_field_tag :content, 'カード背面4桁もしくは3桁の番号',class: 'text_field'

  .credit__box_question
    %span.icon_question ?
    %p カード裏面の番号とは？
