- breadcrumb :categories
.category
  .category__content-btn-category
    .category__content-btn-category__heading
      %h1 カテゴリー一覧
    .category__content-btn-category__btns
      %button
        = link_to "レディース", "#", class:'btn-category'
      %button
        = link_to "メンズ", "#", class:'btn-category'
      %button
        = link_to "ベビー・キッズ", "#", class:'btn-category'
      .clearfix
      %button
        = link_to "インテリア・住まい・小物", "#", class:'btn-category'
      %button
        = link_to "本・音楽・ゲーム", "#", class:'btn-category'
      .clearfix
      %button
        = link_to "おもちゃ・ホビー・グッズ", "#", class:'btn-category'
      %button
        = link_to "コスメ・香水・美容", "#", class:'btn-category'
      .clearfix
      %button
        = link_to "家電・スマホ・カメラ", "#", class:'btn-category'
      %button
        = link_to "スポーツ・レジャー", "#", class:'btn-category'
      %button
        = link_to "ハンドメイド", "#", class:'btn-category'
      .clearfix
      %button
        = link_to "チケット", "#", class:'btn-category'
      %button
        = link_to "自動車・オートバイ", "#", class:'btn-category'
      %button
        = link_to "その他", "#", class:'btn-category'
  .category__content-category-wrapper
    .category__content-category-wrapper__heading
      %h1 レディース
    .category__content-category-wrapper__box
      .category__content-category-wrapper__box__all
        %p
          = link_to "すべて", "#", class:'item-category'
      .category__content-category-wrapper__box__item
        %p トップス
        .category__content-category-wrapper__box__categories
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "すべて", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー（半袖/袖なし）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー(七分/長袖）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "シャツ/ブラウス(半袖/袖なし）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "シャツ/ブラウス(七分/長袖）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "ポロシャツ", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "すべて", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー（半袖/袖なし）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー(七分/長袖）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "シャツ/ブラウス(半袖/袖なし）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "シャツ/ブラウス(七分/長袖）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "ポロシャツ", "#", class:'item-category'
      .category__content-category-wrapper__box__item
        %p トップス
        .category__content-category-wrapper__box__categories
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "すべて", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー（半袖/袖なし）", "#", class:'item-category'
          .category__content-category-wrapper__box__categories__name
            %li
              = link_to "Tシャツ/カットソー(七分/長袖）", "#", class:'item-category'
