.category
  .category__content-btn-category
    .category__content-btn-category__heading
      %h1 カテゴリー一覧
    .category__content-btn-category__btns
      %button
        = link_to "レディース", "#", id:'btn-category'
      %button
        = link_to "メンズ", "#", id:'btn-category'
      %button
        = link_to "ベビー・キッズ", "#", id:'btn-category'
      .clearfix
      %button
        = link_to "インテリア・住まい・小物", "#", id:'btn-category'
      %button
        = link_to "本・音楽・ゲーム", "#", id:'btn-category'
      .clearfix
      %button
        = link_to "おもちゃ・ホビー・グッズ", "#", id:'btn-category'
      %button
        = link_to "コスメ・香水・美容", "#", id:'btn-category'
      .clearfix
      %button
        = link_to "家電・スマホ・カメラ", "#", id:'btn-category'
      %button
        = link_to "スポーツ・レジャー", "#", id:'btn-category'
      %button
        = link_to "ハンドメイド", "#", id:'btn-category'
      .clearfix
      %button
        = link_to "チケット", "#", id:'btn-category'
      %button
        = link_to "自動車・オートバイ", "#", id:'btn-category'
      %button
        = link_to "その他", "#", id:'btn-category'











